<h1>Übersicht</h1>

{{#writing}}
<b>Bearbeitung gestartet:</b> {{edit_started}}<br>
{{#edit_ended}}
<b>Bearbeitung beeendet:</b> {{.}}<br>
{{/edit_ended}}
{{#writing_excluded}}
<b>Von Bearbeitung ausgeschlossen:</b>{{.}}<br>
{{/writing_excluded}}

{{#is_authorized}}
<b>Bearbeitung autorisiert:</b> {{writing_authorized}}<br>
<b>Bearbeitung autorisiert durch:</b> {{writing_authorized_by}}<br>
{{/is_authorized}}
{{^is_authorized}}
<b>Bearbeitung autorisiert:</b> nicht autorisiert<br>
{{/is_authorized}}
{{/writing}}

{{#correction}}
{{#correction_finalized}}
<br>
<b>Korrektur beeendet:</b> {{correction_finalized}}<br>
<b>Korrektur beeendet durch:</b> {{correction_finalized_by}}<br>
<b>Finale Punktzahl:</b> {{final_points}}<br>
<b>Finale Bewertung:</b> {{final_grade}}<br>
{{#stitch_comment}}
<b>Stichentscheid mit Begründung:</b><br> {{.}}
{{/stitch_comment}}
{{/correction_finalized}}
{{/correction}}